@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}
.backgroun1{
  background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?q=80&w=2020&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass2{

background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(5px);
}



.post {
  font-family: inherit;
  font-size: 16px;
  width: 100px;
  height: 40px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.post span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.post svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.post:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.post:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.post:hover span {
  transform: translateX(5em);
}

.post:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
